.track {
  margin:  15px auto;
  padding: 15px;
  min-width: 250px;
  max-height: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  display: block;
}


.active {
  color: #fff;
  background-color: green;
  border: 1px solid;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin: 10px auto;
  padding: 3px;
  text-align: center;
}

.inactive {
  color: #fff;
  background-color: #ddd;
  border: 1px solid;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin: 10px auto;
  padding: 3px;
  text-align: center;
}